<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Si Chen's Homepage</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->
  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/blog.css') }}">
    <!--<![endif]-->
  


    

    

</head>
<body>
<div class = "pure-g">
    <div class="pure-u-xl-5-24 pure-u-sm-0-24">
	</div>
    <div class="pure-u-xl-14-24 pure-u-sm-24-24">
         <div class="posts">
            <h1>Si Chen</h1>
            <h4>SOFTWARE ENGINEER</h4>
            <h4>Department of Computer Science and Engineering</h4>
<h4>University at Buffalo - SUNY </h4><h4>301 Davis Hall, Buffalo NY</h4>
        </div>

        <div>

            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">About Me</h1>

                <!-- A single blog post -->
                <section class="pure-g">

                    <div class="pure-u-5-24">
                        <img alt="My avatar" class="pure-img-responsive pica" src="{{ url_for('static', filename='images/si.jpg') }}">
                    </div>
 <div class="post-description_sameline pure-u-17-24">

           <nav class="nav">
                <ul class="nav-list">

                 <!--    Résumé -->
                     <li class="nav-item">
                        <a class="pure-button pure-button-primary" href="mailto:schen23@buffalo.edu?Subject=Hello!"><i class="fa fa-envelope"></i> Mail</a>
                    </li> 
                    <li class="nav-item">
                        <a class="pure-button pure-button-primary" href="https://github.com/quake0day/resume/raw/master/cv_research_Si-sm.pdf?raw=0"> <i class="fa fa-file-pdf-o"></i> Curriculum Vitae</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button pure-button-primary"  href="https://scholar.google.com/citations?user=DDLTYpAAAAAJ&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i> Google Scholar</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button pure-button-primary" href="https://www.researchgate.net/profile/Si_Chen11" target="_blank"><i class="fa fa-university"></i> Research Gate</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button pure-button-primary" href="http://www.quake0day.com"  target="_blank"><i class="fa fa-home"></i> Blog</a>
                    </li>
                    <li class="nav-item">
                       <a class="pure-button pure-button-primary" href="https://github.com/quake0day"  target="_blank"><i class="fa fa-github-square"></i> GitHub</a>
                    </li>
                </ul>
            </nav>
                                         <p>I am a PhD candidate at University at Buffalo - SUNY in the Department of Computer Science and Engineering under the supervision of Dr. Kui Ren. 
<br />
During my PhD study, my primary research topic is exploring the novel ideas and techniques to solve practical problems and security issues for <strong>mobile sensing</strong> and <strong>cyber physical systems</strong>. In the context of mobile sensing systems, I am interested in smartphone-enabled crowdsourcing approaches that can help build large-scale information infrastructures conveniently at a very low cost. I also study cyber-physical system security from the physical layer, leveraging various related characteristics to enable inherently secure and dependable wireless communications.</p></div>


                </section>
            </div>


            <div class="posts">
                <h1 class="content-subhead">Projects</h1>
                <section class="post">
                        <ul> 
                            <div class="pure-u-15-24 project">
                                <li>GitHub:https://github.com/quake0day/Jigglypu  Vimeo:http://vimeo.com/77708077</li>
                                <li>Techniques:Python,C++,Android,jQuery,HTML5,Web.py,Django,MySQL,CSS(BootstrapUI)</li>
                                <li></li>
                                    </div>
                        </ul>
                </section>
            </div>


<!--             <div class="posts">
                <h1 class="content-subhead">Research Interests</h1>
                <div class="post-description_sameline"><p>My research interests include physical layer security, cyber-physical system security, wireless system and smartphone-enabled crowdsourcing system, with current focus on exploring and improving the cloud-assisted mobile sensing security.</p>
                </div>
            </div> -->


            <div class="posts">
                <h1 class="content-subhead">Recent publications and pre-prints</h1>

                <section class="post">
                        <ul> 
                            {% for entrie in entries %}
                            <div class="pure-u-18-24 publication">
                                {% if entrie['type'] == 1 %}
                                <a class="post-category post-category-design">C</a> 
                                {% endif %}
                                {% if entrie['type'] == 2 %}
                                <a class="post-category post-category-pure">J</a> 
                                {% endif %}
                                {% if entrie['type'] == 3 %}
                                <a class="post-category post-category-js">P</a> 
                                {% endif %}
                                {% if entrie['type'] == 4 %}
                                <a class="post-category post-category-yui">B</a> 
                                {% endif %}
                                <tit><a href="{{ entrie['urlpaper'] }}" target="_blank">{{ entrie['title'] }}</a></tit> <br /> <author>{{ entrie['author'] }}.</author> <br /><conf>{{ entrie['confname'] }}</conf> 

                                {% if entrie['type'] == 1 %}                                
                                , {{ entrie['place'] }}. 
                                {% else %} 
                                .
                                {% endif %}
                                {% if entrie['urlpaper'] %}
                                   <br /> <a href="{{ entrie['urlpaper'] }}" target="_blank">[paper]</a>
                                {% endif %}
                                {% if entrie['urlslides'] %}
                                    | <a href="{{ entrie['urlslides'] }}" target="_blank">[slides]</a>
                                {% endif %}
                            </div>
                            <div class="pure-u-3-24">
                                <a class="post-category" href="{{ entrie['urlcite'] }}">{{ entrie['cite'] }}</a> 
                            </div>
                            <div class="pure-u-2-24">
                                <strong>{{ entrie['year'] }}</strong>
                            </div>
                            {% endfor %}
                        </ul>
                </section>
            </div>


            <div class="posts">
                <h1 class="content-subhead">Honors and Awards</h1>

                <section class="post post-description_sameline ">
                        <ul> 
                            <li> The 19th Annual International Conference on Mobile Computing and Networking (ACM Mobicom’13) App Competition Finalists (top 10), 2013</li>
                            <li> Student Travel Grant Awards, IEEE ICDCS, 2015</li>
                            <li> Top 100 Excellent Graduate Theses in China Agricultural University, 2010</li>
                            <li> Excellent Graduate Award in China Agricultural University, 2010</li>
                            <li> National University Student Innovation Program Award, 2009-2010</li>
                            <li> Undergraduate Research Program Award, 2007-2008</li>
                            <li> Third Prize of International Interdisciplinary Contest in Modeling (ICM), 2009</li>
                            <li> Third Prize of Scholarship for Excellent Academic Performance, 2007, 2008, 2009</li>
                            <li> Awarded “The best debater” title in debate competitions, 2006, 2007</li>
                        </ul>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Professional Services</h1>

                <section class="post post-description_sameline ">
                        <ul> 
                            <li> <strong>Conference Reviewer</strong> for AsiaCCS'16, ICCCN’16, ACM CCS’15, ICDCS’15, ESORICS’15, AsiaCCS’15, Cloud’15, ICCCN’15, DBSec’15, CoudCom’15, ACM CHI’15, CloudNet’15, ISC’15, Securecomm’15, IEEE MSN’15, IPCCC’15, INFOCOM’14, ACM CCS’14, ICDCS’14, ESORICS’14, ICNP’14, AisaCCS’14, MobiHoc’14, CNS’14, CloudNet’14,DBSec’14, SecureComm’14.
</li>
                                                        <li> <strong>Journal Reviewer</strong> for IEEE Trans. on Parallel and Distributed Systems, IEEE Trans. on Services Computing, IEEE Trans. on Smart Grid, IEEE Trans. on Vehicular Technology, IEEE Trans. on Wireless Communications, IEEE Security & Privacy magazine, IEEE Network Magazine, Journal of Computer Security, Journal of Mobile Communication, Com- putation and Information, Journal of Parallel and Distributed Computing.</li>
                                                        <li><strong>Webchair</strong> for <a href="http://www.cse.buffalo.edu/ccw13/" target="_blank">the 27th IEEE Annual Computer Communications Workshop (CCW’13)</a>.</li>
                        </ul>
                </section>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">

                    <ul>
                        <li class="pure-menu-item"> <a href="https://github.com/quake0day/Dodrio" class="pure-menu-link">© 2016 Si Chen. All Rights Reserved | Design by Si Chen | Powered by Dodrio, Flask, Purecss.io</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="pure-u-xl-5-24 pure-u-sm-0-24"></div>
</div>


</body>
</html>
